.product-dashboard-container {
  padding: 1rem;
  width: 85%;
  margin: 1rem auto;

  background-color: var(--surface-color);

  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
}

.product-selector, .product-display {
  width: 40%;
}

@media (max-width: 484px) {
  .product-dashboard-container {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }

  .product-selector {
    margin-bottom: 2rem;
  }

  .product-selector, .product-display {
    width: 100%;
  }
}

