.client-search-container {

  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto auto auto;
  width: 85%;
}

.user-name {
  font-weight: 200 !important;
  font-size: medium;
}

.error-message {
  color: var(--warn-color, #dc3545);
}


.search-container {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 16px;

  mat-form-field {
    width: 100%;
  }
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.user-card {
  width: 100%;
  padding: 12px;

}

.no-results {
  color: #888;
  font-style: italic;
  margin-top: 20px;
}



@media (max-width: 768px) {

  .search-container {
    mat-form-field {
      width: 90%;
    }

    .user-list {
      width: 100% !important;
    }
  }
}

@media (max-width: 484px) {


  .search-container {
    mat-form-field {
      width: 90%;
    }

    .user-list {
      width: 100% !important;
    }
  }
}
