.challenge-nav {
  margin-top: 80px !important;
  margin-left: 80px !important;
 
}

@media (max-width: 768px) {

  .challenge-nav{
     margin-left: 16px !important;
  }

  .search-container {
    mat-form-field {
      width: 90%;
    }

    .user-list {
      width: 100% !important;
    }
  }
}

@media (max-width: 484px) {
   

  .search-container {
    mat-form-field {
      width: 90%;
    }

    .user-list {
      width: 100% !important;
    }
  }
}

.client-search-container {

  padding: 16px;
  border-top: 1px solid var(--outline-color, #e0e0e0);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 32px;
}


h2 {
  margin: 20px 0 10px 0;
  font-size: 1.5rem;
  padding-bottom: 5px;
  color: var(--on-surface-color, #212121);
}

.user-name {
  font-weight: 200 !important;
  font-size: medium;
}

.error-message {
  color: var(--warn-color, #dc3545);
}



.full-width {
  width: 100%;
}

.search-container {
  width: 100%;
  margin-bottom: 16px;
  text-align: center;

  mat-form-field {
    width: 85%;
  }
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 85%;
}

.user-card {
  width: 100%;
  padding: 12px;

}

.no-results {
  color: #888;
  font-style: italic;
  margin-top: 20px;
}