 <div class="app-layout">
  <!-- Header -->

  <ngc-ui-header id="header-section" [logoUrl]="logo" [appName]="title" [githubLogoUrl]="githubLogo"
    [showMobileMenu]="false">
  </ngc-ui-header>


  <!-- Landing Page Section - only shown on root path -->
  @if(showLandingPage()) {
  <ngc-ui-landing-page id="landing-section" (getStarted)="onGetStarted()"
    (exploreChallenges)="onExploreChallenges()">
  </ngc-ui-landing-page>
  }

  <!-- Challenge Content Section (when showing individual challenges) -->
  @if (!showLandingPage()) {
  <main class="main-content" >
    <router-outlet></router-outlet>
  </main>
  }

  <!-- Footer - always visible -->
  @if(showFooter()){
    <ngc-ui-footer id="footer-section"
      [appName]="title"
      (linkClicked)="onFooterLinkClick($event)"
      [showFooterLinks]="showFooterLinks()"
      >
    </ngc-ui-footer>
  }

</div>
