<app-challenge-header [title]="'Server-Side User Search ( Autocomplete )'" />

<div class="challenge-container">

  <!-- Search Container -->
  <div class="server-search-container">


    <input type="text" [formControl]="searchControl" placeholder="Search users...e.g: Emma" class="search-input" />

    @if (loading()) {
    <p class="loading">Loading...</p>
    }

    @if (error()) {
    <p class="error">{{ error() }}</p>
    }

    @if (!loading() && users().length) {
    <ul>
      @for (user of users(); track user.id) {
      <li>{{ user.firstName }} {{ user.lastName }}</li>
      }
    </ul>
    } @else if (!loading() && users().length === 0 && hasSearched()) {
    <p class="no-results">No results found.</p>
    }
  </div>

</div>
