<div class="challenge-nav">
    <app-challenge-nav></app-challenge-nav>
</div>


<div class="ecommerce-container">

    <div class="product-container">

        <h2>E-Commerce Checkout Flow</h2>

        <!-- Select Products-->
        <div class="product-selection">
            <h3>Select Products</h3>
            @if (isLoading()) {
            <div>Loading products...</div>
            }

            @if(error()){
            <p class="error">{{ error() }}</p>
            }

            @if(!isLoading() && products().length){

            <div class="product-list">
                @for (product of products(); track product.id) {
                <div class="product-item">
                    <label>
                        <input type="checkbox" [value]="product.id" (change)="onProductSelect($event, product)" />
                        {{ product.title }} - ${{ product.price }} (Stock: {{ product.stock }})
                    </label>
                </div>
                }
                @empty {
                <div class="no-products">No products available.</div>
                }
            </div>
            }





        </div>
    </div>

    <div class="orders-container">
        <div class="place-order">
            <button [class.disabled]="!(selectedProducts().length)" mat-stroked-button (click)="placeOrder()">Place Order</button>
        </div>
        <h2>Order Summary</h2>
        <div class="order-summary">
            @if(!isOrderLoading() && !orderResult() && !error()) {
            <p>No order placed yet.</p>
            }

            
            @if(orderResult()) {
                <p class="payment-status">Payment Status: {{ orderResult()?.paymentStatus }}</p>

            <ul>
                <p class="order-details">Order Details:</p>
                @for(product of orderResult()?.products; track product.id) {
                <li>{{ product.title }} - Qty: {{ product.quantity || 1 }}</li>
                }
            </ul>
            }
            @if(isOrderLoading()){
            <p>Processing your order...</p>
            }

        </div>

    </div>

</div>