.product-selector {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;

  .full-width {
    width: 100%;
  }

  .custom-input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .error {
    color: red;
    font-weight: 500;
  }
}


@media (max-width: 484px) {
  .product-selector {
   gap: 0.5rem;
  }
}
