<main class="login-page" role="main" aria-labelledby="loginHeading">
  <mat-card class="login-card" id="loginCard">
    <h1 id="loginHeading">Sign in</h1>


    <form (ngSubmit)="onSubmit()" aria-describedby="loginDesc">
      <p id="loginDesc" class="visually-hidden">Enter credentials to access protected resources.</p>


      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput id="username" name="username" [(ngModel)]="username" required aria-required="true" />
      </mat-form-field>


      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" name="password" [(ngModel)]="password" required
          aria-required="true" />
      </mat-form-field>


      <div class="actions">
        <button mat-flat-button color="primary" type="submit" id="loginButton">Login</button>
      </div>
    </form>
  </mat-card>
</main>
