<section class="challenge-nav" aria-label="Challenge navigation">
  <button mat-button   (click)="navigateToHome()" class="nav-button home-button" aria-label="Go to home">
    <mat-icon aria-hidden="true">home</mat-icon>
    <span class="button-label">Home</span>
  </button>


  <button mat-button   (click)="navigateToChallenges()" class="nav-button challenges-button" aria-label="View all challenges">
    <mat-icon aria-hidden="true">arrow_back</mat-icon>
    <span class="button-label">Back To Challenges</span>
  </button>

  <button mat-button   (click)="launchChallenge()" class="nav-button home-button" aria-label="Go to home">
   <mat-icon aria-hidden="true">rocket_launch</mat-icon>
   <span class="button-label">Launch Challenge</span>
  </button>
</section>

