 <div class="app-layout">
  <!-- Header -->

  <ng-coding-challenges-header id="header-section" [logoUrl]="logo" [appName]="title" [githubLogoUrl]="githubLogo"
    [showMobileMenu]="false">
  </ng-coding-challenges-header>


  <!-- Landing Page Section - only shown on root path -->
  @if(showLandingPage()) {
  <ng-coding-challenges-landing-page id="landing-section" (getStarted)="onGetStarted()"
    (exploreChallenges)="onExploreChallenges()" (tryLatestChallenge)="onTryLatestChallenge()">
  </ng-coding-challenges-landing-page>
  }

  <!-- Challenge Content Section (when showing individual challenges) -->
  @if (!showLandingPage()) {
  <main class="main-content" [style.height]="'100dvh'">
    <router-outlet></router-outlet>
  </main>
  }

  <!-- Footer - always visible -->
  @if(showFooter()){
    <ng-coding-challenges-footer id="footer-section"
      [appName]="title"
      (linkClicked)="onFooterLinkClick($event)"
      [showFooterLinks]="showFooterLinks()"
      >
    </ng-coding-challenges-footer>
  }

</div>
