<section class="get-started-container">

  <h1 class="header-text">Getting Started</h1>
  <p class="intro-text">
    Embark on your hands-on Angular learning journey. Solve real-world challenges, build skills, and contribute to the
    community.
  </p>


  <mat-card class="step-card">
    <h2>Welcome to  <strong> <span class="start-text">ngQuest</span>  </strong></h2>
    <p>
      <strong>ngQuest</strong>  offers a growing library of practical Angular challenges, covering forms, RxJS, component design, routing,
      and more. Solve real-world coding problems, strengthen your skills, and prepare confidently for interviews — all
      while learning by doing.
    </p>
    <p>
      Start your journey today and level up your Angular expertise, one challenge at a time!
    </p>
  </mat-card>



  <mat-card class="step-card">
    <h2> How to Navigate to a Challenge</h2>
    <p>
      Explore challenges by visiting the <a class="explore-link" routerLink="/challenges"><strong>Explore
          Challenges</strong></a> page, browse and pick one that matches your current learning goal.
    </p>
  </mat-card>

  @if(false){
  <!--  Enable after integrating StackBlitz -->
  <mat-card class="step-card">
    <h2> How to Solve a Challenge</h2>
    <p> You are now ready for the challenge!</p>
    <p>
      Each challenge provides a clear description, starter code, and a built-in live preview powered by StackBlitz.
      Solve the challenge directly in your browser and submit when ready.
    </p>
  </mat-card>
  }

  <mat-card class="step-card">
    <h2> Get Started with First Challenge</h2>
    <p>
      Click the button below to jump straight into your first challenge: a simple use case of fetching Product data from
      a Fake API and displaying it in a table.
    </p>
    <button class="btn start-challenge" mat-raised-button routerLink="/challenges/rxjs-api/fetch-products">
      Start Challenge #1 →
    </button>
  </mat-card>

  <mat-card class="step-card">
    <h2>Dev Environment Setup</h2>
    <p>
      You can use your favorite IDE like VS Code to RUN the project or Work on the challenges.
      Make sure NodeJs and Angular CLI are installed on your machine.
    </p>
    <a class="btn setup-instructions" mat-raised-button
      href="https://github.com/Manishh09/ng-coding-challenges/blob/develop/docs/SETUP_AND_RUN_APP_GUIDE.md"
      target="_blank" rel="noopener">
      [ Visit Setup Instructions ]
    </a>
  </mat-card>

  <mat-card class="step-card">
    <h2> How to Contribute</h2>
    <p>Contributions are always welcome!</p>
    <p>
      Visit our GitHub repository, fork the project, and submit Pull Requests (PRs) to help the community grow.
    </p>
    <a class="btn contribution-guide" mat-raised-button href="https://github.com/Manishh09/ng-coding-challenges/blob/develop/docs/CONTRIBUTING.md"
      target="_blank" rel="noopener">
      [ Visit Contribution Guide ]
    </a>
  </mat-card>

   <mat-card class="step-card">
    <h2> How to Create a Challenge</h2>
    <p>Thank you for your contribution! The challenge creation is made simple for you.</p>
    <p>
      Visit our GitHub repository, fork the project, and follow the Contribution Guide to create your first challenge.
    </p>
    <a class="btn challenge-creation-guide" mat-raised-button href="https://github.com/Manishh09/ng-coding-challenges/blob/develop/docs/CREATE_CHALLENGE.md"
      target="_blank" rel="noopener">
      [ Visit Challenge Creation Guide ]
    </a>
  </mat-card>

</section>
