.get-started-container {
  max-width: 1100px;
  margin: 4rem auto;
  padding: 1rem;
 
  h1 {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #C11C84;
  }

  .start-text{
     color: #C11C84;
  }

  .intro-text {
    // text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: var(--text-primary);
  }

  .step-card {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    border-left: 6px solid #C11C84 !important;
    background-color: var(--color-surface);
    h2 {
      font-size: 1.5rem;
     
      margin-bottom: 1rem;
      color: var(--text-secondary);
      border-bottom: 2px solid var(--brand-gradient-primary) !important;
    }

    p {
      font-size: 1.1rem;
      color: var(--text-secondary);
    }

    button, a {
      margin-top: 1rem;
    }
  }

  .explore-link {
    color: #C11C84;
  }
}

@media (max-width: 768px) {
  .get-started-container {
    margin: 4rem auto;
    padding: 2rem;

    h1 {
      font-size: 2rem;
    }

    .step-card {
      padding: 1rem;

      h2 {
        font-size: 1.25rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}
