@use '@angular/material' as mat;
// Import shared theme styles
@import '../../../libs/shared/ui/src/lib/styles/themes.scss';

// Application-specific styles
html,
body {
  height: 100%;
  inset: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Ensure app-root takes full height */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Fix for extra space at bottom */
body,
html,
app-root,
.app-layout,
.footer,
.footer-bottom {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* Ensure no extra white space at the bottom of the page */
.mat-typography {
  margin: 0;
  padding: 0;
}